body{
	background-color: #8C9EC2;
	font:14px Georgia;
}

h1{
	font-size: 54px;
	color: #194382;
	font-weight: 600;
	text-align: center;
	margin: 40px 0 15px;
}
p {
  color: #D85030;
  text-align: center;
  font-size: 24px;
}

